body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #eee;
  background-image: url("http://i.cubeupload.com/NjsJx8.png");
  margin: 0;
}
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
.showcase{
  background: url('../img/coffee.jpg') no-repeat center/cover;
}
.container .row {
  width: 100%;
  height: calc(100vh - 44px);
}
.first {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
button {
  padding: 1rem 2rem;
  border-radius: .4rem;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second img {
  max-height: 100%;
  max-width: 100%;
}
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}
.vapour span {
  position: relative;
  bottom: -150px;
  display: block;
  /* margin: 0 2px 50px; */
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}

@media screen and (max-width: 580px) {
  .container .row {
    height: calc(100vh - 45px);
  }
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */